/* Basic Structure of a CSS file (Cascading Style Sheets)

Selector {
	Property: value;
}*/

* {
	text-align: right;
}

body {
	background-image: url(backgroundImage2.jpg);
	background-size: cover;
}

/*use this resource to find fitting color schemes https://paletton.com/
*/
h2, p:hover  {
	color: #AA4139;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.5); 
	cursor: pointer;
}

p { 
	text-decoration: underline;
	text-decoration: line-through;
	text-transform: uppercase;
	line-height: 20px
	font-style: italic;
	font-weight: bold;
	font-size: 80%;
	font-family: 'Tenali Ramakrishna', sans-serif;
}

p {
	color:pink;
}

p {
	color:green;
}

img {
	float:right;
}

footer{
	clear: both;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
}
.webtext last-child {
	border: 5px dashed green;
}

.active {
	color: red;
}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}

#div2 {
	background: rgba(255, 0, 0, 0.2);
}